{% extends 'base.html' %}


{% block title %} <title>Du soleil dans ma palette : la gallerie</title> {% endblock %}

{% block content %}
    <main id="gallery">
        <h1>La galerie du soleil dans ma palette</h1>
        <div class="grid">
            {% for image in images %}
            <div class="image-item">
                {% if request.user.is_authenticated %}
                {% include "website/tools.html" %}
                {% endif %}
                <img src="{{ image.image.url }}" alt="{{ image.alt }}">
                <div class="legend">
                    <a href="{% url 'gallery:detail' slug=image.slug %}"><h3>{{ image.title }}</h3></a>
                    <p>{{ image.content|safe|truncatewords:06 }}</p>

                </div>

            </div>
             {% endfor %}
     </div>
    </main>

{% endblock %}
